<mat-card class="content-margin">
    <h1>Inscription</h1>

    <form class="example-form" novalidate>
        <mat-form-field class="example-full-width">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="John" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Prenom</mat-label>
            <input matInput placeholder="Doe" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="example@xyz.com" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput placeholder="example@xyz.com" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Date de naissance</mat-label>
            <input type="date" matInput placeholder="01/01/1970" required>
        </mat-form-field>

        <button mat-raised-button color="primary">Envoyer</button>
    </form>

</mat-card>