<mat-card class="content-margin">
    <h1>Inscription</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form" novalidate>

        <mat-form-field class="example-full-width">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="John" formControlName="name" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Prenom</mat-label>
            <input matInput placeholder="Doe" formControlName="firstName" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="example@xyz.com" formControlName="email" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput formControlName="password" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Date de naissance</mat-label>
            <input type="date" matInput placeholder="01/01/1970" formControlName="birthday" required>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Envoyer</button>
    </form>

</mat-card>