<mat-card class="content-margin">
    <h1>Connexion</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="example@xyz.com" formControlName="email" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput formControlName="password" required>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Connexion</button>
    </form>

</mat-card>