
:host {
    display: block;
    padding: 10px;
    border: 1px solid #b4b4b4;
    background-color: #fff;
}

.palette-color {
    margin-top: 8px;
    height: 26px;
    border-radius: 2px;
    border: 1px solid #666;
}
